*{
    border: 0%;
    padding: 0%;
    margin: 0%;
}
header{
    padding: 10px;
    background-color: rgb(44, 46, 44);
}
header h1{
    color: gray;
}
header div{
    position: relative;
    left: 35%;
    margin-top: 1%;
}