#div1{
    height: 60px;
    width: 80%;
    margin-left: 10%;
    background-color: rgba(170, 170, 170, 0.767);
    padding-left:2%;
    padding-top: 15px;

}
#div2{
    background-color: rgba(170, 170, 170, 0.767);
    height: 34%;
    width: 50%;
    margin-left: 25%;
}