*{
    border: 0ch;
    margin: 0%;
    padding: 0%;
}
header{
    background-color: rgb(58, 56, 56);
    display: flex;
    height: auto;
    padding: 10px;
    width: 100%;
}
header img{
    height: 90px;
    left: 25px;
    position: relative;
    top: 3px;
    width: 100px;
}
header h1{
    color: rgb(184, 181, 181);
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    left: 50px;
    position: relative;
    top: 13px;
}
header input{
    background-image: url(img/lupa.png);
    background-position: right;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    height: 35px;
    left: 70px;
    min-width: 300px;
    padding: 15px;
    position: relative;
    padding-bottom: 20px;
    top: 31px;
    width: auto;
}
header input::placeholder{
    position: relative;
    left: 15px;
}
header button{
    background-color: red;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    left: 100px;
    padding: 10px;
    position: relative;
    top: 25px;
    width: 132px;
}
#navED{
    background-color: gray;
    display: flex;
    height: auto;
    padding: 15px;
    position: relative;
    width: auto; 
}
#navED a {
    color: black;
    font-size: 20px;
    margin-left: 20px;
    padding-left: 40px;
    padding-right: 40px;
}

#navED a:hover{
    color: blue;
}