main section div{
    color: gray;
    height: auto;
    max-height: 400px;
}
main section div section{
    color: grey;
}

a:hover{
    color: none;
    text-decoration: none;
    color: rgb(221, 221, 221);
}
